/* li{
    width: 100px;
    height: 100px;
    position: absolute;
    list-style: none;
}
.one{
    background-color: red;
    z-index: 2;
    left: 100px;
}
.thow{
    background-color: blue;
    z-index: 3;
    top: 100px;
    left: 150px;
}
.trhee{
    background-color: green;
    z-index: 1;
    top: 180px;
    left: 200px;
} */
.h1{
  color: white;
  background-color: brown;
  position: relative;
  text-align: center;
  width: 25px;
  height: 300px;
  font-size: 15px;
  writing-mode: vertical-lr;
  transform: translatex(0);
}
  .box:hover .h1{
    transform: translatex(265px);
    transition: transform 250ms ease;
    color: brown;
  }
  
  .box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
  }
  .box:hover .overlay {
    transform: translatex(0);
    background-color: brown;
    color: white;
  }
  .overlay {
    padding-left: 35px;
    position: relative;
    top: -325px;
    padding-bottom: 10px;
    width: 200px;
    height: 100%;
    transform: translatex(-100%);
    transition: transform 250ms ease;
  }
   .overlay:first-child{
    padding-top: 80px;
  }
  .overlay:last-child{
    padding-bottom: 80px;
  }